{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div>
        <span style="border: 5px solid pink; 
                    background-color: lightcyan; 
                    padding: 10px; 
                    display: inline-block;">
            <a href="/lab5/list">Список статей</a>
        </span>
        <span style="border: 5px solid pink; 
                    background-color: lightcyan; 
                    padding: 10px; 
                    display: inline-block;">
            <a href="/lab5/create">Создать статью</a>
        </span>
        <span style="border: 5px solid pink; 
                    background-color: lightcyan; 
                    padding: 10px; 
                    display: inline-block;">
            <a href="/lab5/login">Войти</a>
        </span>
        <span style="border: 5px solid pink; 
                    background-color: lightcyan; 
                    padding: 10px; 
                    display: inline-block;">
            <a href="/lab5/Регистрация">Регистрация </a>
        </span>
    </div>
    <div style="color: orange; margin: 10px 0;">Anonymous</div>
{% endblock %} 