body {
    background-color: #f0f0f0; /* Цвет фона страницы */
}

h1 {
    color: navy; /* Цвет заголовка */
    text-align: center; /* Выравниваем заголовок по центру */
}

img {
    width: 50%; /* Ширина изображения */
    height: auto; /* Высота автоматически подстраивается */
    display: block; /* Изображение выводится как блочный элемент */
    margin-left: auto;
    margin-right: auto; /* Центрирование изображения */
}
